
/* @import "templatecolours.css";*/

body{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

/* header format */

h1{
    text-align: left;
}
/* nav menu */

nav{
    display: inline-block;
}
nav li {
    float:left;
}

nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-color: black;
    border-width: 4px;
}

nav>ul>li {
    float:left;
    border-color: black;
    border-width: 4px;
}

nav>ul>li a{
    display:block;
    color:#000000;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    border-color: black;
    border-width: 4px;

}

li a:hover {
    color:#363636;
}


.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

footer{
    text-align: center;
}